.header {
    display: flex;
    justify-content: space-between;
    width: 76%;
    margin-bottom: 3%;
    }
    
    .logo {
      margin-top: 3%;
    width: 210.32px;
    background-repeat: no-repeat;
    background-image: url("../images/Booki.png");
    }
    
    nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
margin-top: 25%;
    }
    
    nav ul li a {
    text-decoration: none;
    color: #333;
    }


      
      .footer-logo {
        background-image: url("https://i.pinimg.com/originals/d6/af/52/d6af521e393906ebb6b93eb9dbaf3fa6.png");
      }
      